@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 200;
}

section{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px 0;
   background-color: rgba(240, 144, 161, 0.979);
}

.container{
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin:0 auto;
    padding: 20px;
}

.brand{
    text-align: center;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 50px;
    color:rgb(248, 246, 246);
    margin-bottom: 50px;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgb(248, 246, 246);
    box-shadow: 10px 10px 8px #888888;
}

form input{
    width: 90%;
    background-color: transparent;
    padding-bottom:8px;
    padding-left: 20px;
    padding-right:24px;
    padding-top: 8px;
    border: none;
    outline:none;
    font-size: 19px;
    display: inline-block;
    }

form ion-icon{
    width: 10%;
    font-size: 2rem;
    margin: -6px;
    padding-right: 9px;
    color: rgb(75, 75, 75);
}

.search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37,37,37);
    padding: 15px;
    overflow: hidden;
}
.item img{
    width: 100px;
    height:100px;
    border-radius: 4px;
}

.item .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-weight: 400;
}

.view-btn{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
}
.item-data {
   color: whitesmoke;
   display: block; 
   margin-top: 10px;
   font-size: 1rem;
   letter-spacing: .05rem;
   line-height: 2rem;

}

.special {
    width: 100%;
    background-color: rgb(202, 9, 9);
    padding: 15px;
    border-style: dashed rgb(3, 29, 58) solid;
}